<h4>Component</h4>
Foo
{{#fancy}}
  <div class="js-child">
    Foobar
    Prop: {{prop}}
  </div>
{{/fancy}}
Bar

{{#portal_test}}
Aperture
<div class="portal blue-portal">
  {{#_portal}}
  <div class="portal orange-portal">
    {{portal}}
  </div>
  {{/_portal}}
</div>
{{/portal_test}}


<h4>Function</h4>
<select>
  {{#options}}
  <option value="{{value}}" {{#selected}}{{value}}{{/selected}}>{{name}}</option>
  {{/options}}
</select>

{{#lambda}}
<div class="js-not-child">whoobar</div>
{{/lambda}}
