<h2>Input Type Hooks</h2>
<label for="inputType">Change input's type to</label>
<input type="text" id="inputType" name="inputType" class="js-inputType" placeholder="anything"> !
<br><br>
<label for="input"><span>[{{browser}}]</span> Input type is <span>{{actualType}}</span>.</label>
<input type="{{newType}}" name="input" class="highlight" value="123 abc !@# xyz">
