<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Input Type Hook Example</title>
    <style media="screen">
      .highlight {
        border-color: #9400d3;
        border-radius: 10px;
        width: 200px;
      }
      span {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="appwrapper">{{> app_view }}</div>
    <script src="js/app.min.js"></script>
  </body>
</html>
