<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{site-title}}</title>
    {{#css}}
    <link rel="stylesheet" href="{{.}}">
    {{/css}}
  </head>
  <body {{#pageClass}}class="{{pageClass}}"{{/pageClass}}>
    <div id="layout">
      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="index.html">Tungsten.js</a>
          <ul class="pure-menu-list">
            <li><a href="index.html" class="pure-menu-link pure-menu-section">Docs</a>
              <ul class="pure-menu-list"> {{#docs}} <li class="pure-menu-item"><a href="{{url_name}}" class="pure-menu-link">{{name}}</a></li> {{/docs}} </ul>
            </li>

            <li><a href="tutorials.html" class="pure-menu-link pure-menu-section">Tutorials</a>
              <ul class="pure-menu-list">{{#tutorials}} <li class="pure-menu-item"><a href="tutorials.html#{{url_name}}" class="pure-menu-link js-tutorial-select">{{name}}</a></li> {{/tutorials}}</ul>
            </li>
          </ul>
          <ul class="pure-menu-list bottom-menu">
            <li class="pure-menu-item"><a target="_blank" href="https://www.npmjs.com/package/tungstenjs" class="pure-menu-link">npm</a></li>
            <li class="pure-menu-item"><a target="_blank" href="https://github.com/wayfair/tungstenjs" class="pure-menu-link">GitHub</a></li>
            <li class="pure-menu-item"><a target="_blank" href="http://engineering.wayfair.com/" class="pure-menu-link">Wayfair<br>Engineering</a></li>
          </ul>
        </div>
      </div>
      <div class="main" id="appwrapper">
      </div>
    </div>
    {{#js}}
    <script src="{{.}}"></script>
    {{/js}}
  </body>
</html>
