<div class="dom_events_panel">
  <div class="js-sidebar-pane-title sidebar-pane-title {{#collapsed}}expanded{{/collapsed}}" data-id="viewDomEvents">
    Events
  </div>
  {{^hiddenPanels.viewDomEvents}}
    {{#selectedView.objectEvents}}
    <div class="sidebar-pane visible">
      <div class="body">
        <div class="section expanded">
          <ol class="properties properties-tree monospace">
            <li data-property-name="model" class="js-view-event" data-event-selector="{{selector}}">
              <span class="name">{{selector}}</span><span class="separator">: </span>
              <span class="value clickable-property console-formatted-undefined">{{name}}</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    {{/selectedView.objectEvents}}
  {{/hiddenPanels.viewDomEvents}}
</div>
