<div class="js-model-panel-view">
    <div class="js-sidebar-pane-title sidebar-pane-title {{#collapsed}}expanded{{/collapsed}}" data-id="viewEvents" >
       View Events
    </div>
    {{^hiddenPanels.viewEvents}}
      {{#selectedView}}
      <div class="sidebar-pane visible">
          <div class="body">
              <div class="section expanded">
                  <ol data-property-key="" class="properties properties-tree monospace">
                      {{#customEvents}}
                      <li class="js-tracked-event" data-key="{{name}}">
                        <span class="name">{{name}}</span><span class="separator">&nbsp;</span>
                        <span class="js-untrack-event value console-formatted-undefined clickable-property">-</span>
                      </li>
                      {{/customEvents}}
                      <li>
                        <input type="text" class="js-add-new-event">
                      </li>
                  </ol>
              </div>
          </div>
      </div>
      {{/selectedView}}
    {{/hiddenPanels.viewEvents}}
</div>
