<div class="function_info_panel">
  <div class="js-sidebar-pane-title sidebar-pane-title {{#collapsed}}expanded{{/collapsed}}" data-id="viewMethods" >
    Methods
    <label class="group_label monospace">
      Show inherited methods
      <input type="checkbox" class="js-show-inherited" {{#showInheritedMethods}}checked="checked"{{/showInheritedMethods}}>
    </label>
  </div>
  {{^hiddenPanels.viewMethods}}
    {{#selectedView}}
    <div class="sidebar-pane visible">
      <div class="body">
        <div class="section expanded">
          <ol data-property-key="" class="properties properties-tree monospace">
            {{! show all uninherited methods}}
            {{#objectFunctions}}
              {{^inherited}}
                {{> info_panels/view/_function_info_listing }}
              {{/inherited}}
            {{/objectFunctions}}

            {{! if we are showing inherited methods, show those too}}
            {{#showInheritedMethods}}
              <li><hr></li>
              {{#objectFunctions}}
                {{#inherited}}
                  {{> info_panels/view/_function_info_listing }}
                {{/inherited}}
              {{/objectFunctions}}
            {{/showInheritedMethods}}

            {{! even if we aren't showing inherited methods, show the ones that are tracked}}
            {{^showInheritedMethods}}
              {{#objectFunctions}}
                {{#inherited}}
                  {{#tracked}}
                    {{> info_panels/view/_function_info_listing }}
                  {{/tracked}}
                {{/inherited}}
              {{/objectFunctions}}
            {{/showInheritedMethods}}
          </ol>
        </div>
      </div>
    </div>
    {{/selectedView}}
  {{/hiddenPanels.viewMethods}}
</div>