<div class="model_info_panel">
    <div class="js-sidebar-pane-title sidebar-pane-title {{#collapsed}}expanded{{/collapsed}}" data-id="viewModel" >
        Model
    </div>
    {{^hiddenPanels.viewModel}}
      {{#selectedView.obj.model}}
      <div class="sidebar-pane visible">
          <div class="body">
              <div class="section expanded">
                  <ol data-property-key="" class="properties properties-tree monospace">
                      <li data-property-name="debugName">
                          <span class="name">debugName</span><span class="separator">: </span>
                          <span class="js-model-tab js-model-list-item value console-formatted-undefined clickable-property" data-id="{{getDebugName}}"> {{getDebugName}} </span>
                      </li>
                      {{#collection}}
                      <li data-property-name="collection">
                          <span class="name">collectionCid</span><span class="separator">: </span>
                          <span class="js-model-tab js-model-list-item value console-formatted-undefined clickable-property" data-id="{{collection.getDebugName}}"> {{collection.getDebugName}} </span>
                      </li>
                      {{#parentProp}}
                      <li data-property-name="parentProp">
                          <span class="name">parentProp</span><span class="separator">: </span>
                          <span class="value console-formatted-undefined"> {{parentProp}} </span>
                      </li>
                      {{/parentProp}}
                      {{/collection}}
                      {{^collection}}
                        {{#parentProp}}
                        <li data-property-name="parentProp">
                            <span class="name">parentProp</span><span class="separator">: </span>
                            <span class="value console-formatted-undefined"> {{parentProp}} </span>
                        </li>
                        {{/parentProp}}
                      {{/collection}}
                  </ol>
              </div>
          </div>
      </div>
      {{/selectedView.obj.model}}
  {{/hiddenPanels.viewModel}}
</div>