<div class="template_info_panel">
  <div class="js-SidebarPane_title SidebarPane_title <%= panel.collapsed ? '' : 'expanded' %>" data-id="<%= panel.tabName %>">
    VDOM Template
  </div>
  <% if (!panel.collapsed && panel.view) { %>
    <div class="SidebarPane_data">
      <pre class="TemplateString"><code><%= panel.view.vdomTemplate %></code></pre>
    </div>
  <% } %>
</div>
