<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tungsten.js + Custom Elements</title>
    <script type="text/javascript" src="./node_modules/bosonic/node_modules/webcomponents.js/webcomponents.js"></script>
    <script type="text/javascript" src="./node_modules/bosonic/dist/bosonic-runtime.js"></script>
    <link rel="stylesheet" href="./node_modules/bosonic-core-elements/demo/styles.css"/>
    <link rel="import" href="./node_modules/bosonic-core-elements/src/b-tooltip.html">
    <link rel="import" href="./node_modules/bosonic-core-elements/src/b-tabs.html">
    <link rel="import" href="./node_modules/bosonic-core-elements/src/b-collapsible.html">


</head>
<body>
<div id="appwrapper">{{> app_view }}</div>
<script src="js/data.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>
