{
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "brace-style": [1, "1tbs"],
    "max-len": [1, 190, 2]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "require": true,
    "module": true
  },
  "extends": "eslint:recommended"
}