{{#visible}}
  {{#_portal}}
    <div class="modalOverlay">
      <div class="modal js-modal">
        <button class="modalClose js-close-modal">X</button>
        {{{ yield }}}
      </div>
    </div>
  {{/_portal}}
{{/visible}}
