body {
  max-width: 100%;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.cm-mustache {
  color: #0ca;
}

.CodeMirror {
  height: 49vh;
  padding: 1vh;
}

#result {
  padding: 10px;
}

.description {
  padding: 20px;
}

.footer {
  box-sizing: content-box;
}

.steps {
  padding: 0;
  margin: 0;
}

.page-section.description {
  border-top: 1vh solid white;
  border-left: 1vh solid white;
}

.step {
  display: inline-block;
  background-color: #8d4377;
  border-radius: 50%;
  text-align: center;
  width: 1.6em;
  height: 1.6em;
  font-size: 1em;
  line-height: 1.8;
  color: #fff;
  cursor: pointer;
}

.styled-background {
  background-color: #ff7;
}

#result {
  border-top: 1vh solid white;
  border-left: 1vh solid white;
  border-bottom: 1vh solid white;
  height: 50vh;
}

.last-editor-section {
  border-bottom: 1vh solid white;

}

.step_description {
  font-size: 1.2em;
  color: black;
  margin: 30px 0;
}
.step_name { margin: 10px 0; font-size: 120%; }