body {
  max-width: 100%;
  font: 100% FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
  background: none;
}

* {
  box-sizing: border-box;
}

.cm-mustache {
  color: #0ca;
}

.CodeMirror {
  height: 49vh;
  padding: 1vh;
}

#result {
  padding: 10px;
}

.description {
  padding: 20px;
}

.footer {
  box-sizing: content-box;
}

.steps {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 75%;
}


.run {
  display: inline-block;
  float: right;
  width: 20%;
}

.page-section.description {
  border-top: 1vh solid white;
  border-left: 1vh solid white;
}

.styled-background {
  background-color: #ff7;
}

#result {
  border-top: 1vh solid white;
  border-left: 1vh solid white;
  border-bottom: 1vh solid white;
  height: 50vh;
}

.last-editor-section {
  border-bottom: 1vh solid white;

}

.step_description {
  font-size: 1.2em;
  color: black;
  margin: 30px 0;
}
.step_name { margin: 10px 0; font-size: 120%; }

.todoapp h1 {
  top: -175px;
}