<div class="model_info_panel">
    <div class="js-sidebar-pane-title sidebar-pane-title {{#collapsed}}expanded{{/collapsed}}" data-id="modelInfo" >
        Model
    </div>
    {{^hiddenPanels.modelInfo}}
      {{#selectedModel}}
      <div class="sidebar-pane visible">
          <div class="body">
              <div class="section expanded">
                  <ol data-property-key="" class="properties properties-tree monospace">
                      <li data-property-name="debugName">
                          <span class="name">debugName</span><span class="separator">: </span>
                          <span class="value console-formatted-undefined"> {{debugName}} </span>
                      </li>
                      {{#obj.tungstenCollection}}
                        {{#obj.parentProp}}
                        <li data-property-name="parentProp">
                            <span class="name">parentProp</span><span class="separator">: </span>
                            <span class="value console-formatted-undefined"> {{obj.parentProp}} </span>
                        </li>
                        {{/obj.parentProp}}
                      {{/obj.tungstenCollection}}
                      {{#obj.tungstenModel}}
                        {{#obj.parentProp}}
                        <li data-property-name="parentProp">
                            <span class="name">parentProp</span><span class="separator">: </span>
                            <span class="value console-formatted-undefined"> {{obj.parentProp}} </span>
                        </li>
                        {{/obj.parentProp}}
                      {{/obj.tungstenModel}}
                  </ol>
              </div>
          </div>
      </div>
      {{/selectedModel}}
    {{/hiddenPanels.modelInfo}}
</div>
