<div class='examples'>
    <div class='parent'>
        <label for='hy'>Move stuff between these two containers. Note how the stuff gets inserted near the mouse
            pointer? Great stuff.</label>

        <div class='wrapper'>
            <div id='left-defaults' class='container js-container'>
                <div>You can move these elements between these two containers</div>
                <div>Moving them anywhere else isn't quite possible</div>
                <div>Anything can be moved around. That includes images, <a href='https://github.com/'>links</a>,
                    or any other nested elements.
                    <div class='image-thing'>Content</div>
                    <sub>(You can still click on links, as usual!)</sub>
                </div>
            </div>
            <div id='right-defaults' class='container js-container'>
                <div>There's also the possibility of moving elements around in the same container, changing their
                    position
                </div>
                <div>This is the default use case. You only need to specify the containers you want to use</div>
                <div>More interactive use cases lie ahead</div>
                <div>Moving <code>&lt;input/&gt;</code> elements works just fine. You can still focus them, too. <input
                        placeholder='See?'/></div>
            </div>
        </div>
    </div>
</div>