<div class="todoapp">
    <header class="header">
        <h1>todos</h1>
        <!-- todoapp -->
        <input placeholder="What needs to be done?" type="text" autofocus="true" class="new-todo js-new-todo" value="{{newValue}}">
    </header>
    <section class="main">
        <input class="toggle-all js-toggle-all" type="checkbox" {{#allCompleted}}checked="checked"{{/allCompleted}}>
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list js-todo-list">
            {{#todoItems}}
                {{{ . }}}
            {{/todoItems}}
        </ul>
    </section>
    {{#hasTodos}}
        <footer class="footer">
            <span class="js-todo-count todo-count"><strong>{{todoCount}}</strong> item{{#todoCountPlural}}s{{/todoCountPlural}} left</span>
            <ul class="filters">
                {{#filter_set}}
                    {{{ . }}}
                {{/filter_set}}
            </ul>
            {{#hasCompleted}}
                <button class="clear-completed js-clear-completed">Clear completed</button>
            {{/hasCompleted}}
        </footer>
    {{/hasTodos}}

    {{{test}}}
</div>
