<div id="app">
    <paper-drawer-panel>
        <div class="js-drawer drawer-panel">
            <iron-selector>
                <paper-toolbar></paper-toolbar>
              {{#cities}}
                  <paper-item class="js-city-item" data-item-id="{{name}}">{{name}}</paper-item>
              {{/cities}}
            </iron-selector>
        </div>
        <div class="js-main main-panel">
            <paper-toolbar>
                <paper-button>
                    <iron-icon icon="menu"></iron-icon>
                </paper-button>
                <span flex="flex">Maps! (Web Components + Tungsten.js + Backbone)</span>
            </paper-toolbar>
          {{! W/debug/context }}
          {{#selectedCity}}
            <div>{{title}}</div>
              <div class="js-map-view">
                  <google-map latitude="{{latitude}}" longitude="{{longitude}}" class="js-map"></google-map>
              </div>
          {{/selectedCity}}
        </div>
    </paper-drawer-panel>
</div>