<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tungsten.js + Web Components</title>
  <link rel="import" href="bower_components/google-map/google-map.html"/>
  <link rel="import" href="bower_components/paper-input/paper-input.html">
    <link rel="import" href="bower_components/paper-drawer-panel/paper-drawer-panel.html"/>
    <link rel="import" href="bower_components/paper-item/paper-item.html">
    <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
    <link rel="import" href="bower_components/iron-icon/iron-icon.html">
    <link rel="import" href="bower_components/iron-icons/iron-icons.html">


    <link rel="import" href="bower_components/iron-selector/iron-selector.html">
  <style>
      body {
          font-family: Arial;
      }

      google-map {
          width: 100%;
          height: 400px;
          display: block;
      }

      iron-selector {
          margin-left: 0;
          margin-right: 0;
      }
      /* Polymer sample app styles
 * http://itshackademic.com/static/codelabs/3-polymer-build-mobile/#3
*/

      [drawer] {
          background-color: #fff;
      }

      [main] > div {
          padding: 2em;
      }

      [drawer] > core-item {
          padding: 1em;
      }

      [main] paper-checkbox {
          margin-right: 1em;
      }

      [main] {
          height: 100%;
          background-color: #f1f1f3;
      }

      [drawer] paper-toolbar {
          background-color: #4F7DC9;
          color: #fff;
      }

      [main] paper-toolbar {
          background-color: #526E9C;
          color: #fff;
      }
  </style>
</head>
<body>
<div id="appwrapper">
    {{> app_view }}
</div>
<script src="js/data.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>