<div id="app">
  <div id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <!-- todoapp -->
      <input id="new-todo" placeholder="What needs to be done?" type="text" autofocus="true" class="js-new-todo">
    </header>
    <div id="main">
      <input id="toggle-all" class="js-toggle-all" type="checkbox">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list" class="js-todo-list">
        {{#todoItems}}
        {{> todo_item_view }}
        {{/todoItems}}
      </ul>
    </div>
    {{#todoCount}}
    <footer id="footer">
      <span class="js-todo-count" id="todo-count"><strong>{{todoCount}}</strong> item{{#todoCountPlural}}s{{/todoCountPlural}} left</span>
      {{#hasCompleted}}
      <button id="clear-completed" class="js-clear-completed">Clear completed</button>
      {{/hasCompleted}}
    </footer>
    {{/todoCount}}
  </div>
  {{{nested.nested_content}}}
</div>