<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{site-title}}</title>
    {{>tutorials_header}}
</head>
<body class="tutorials_page">
{{>common}}
{{>tutorials_footer}}
</body>

</html>
