<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tungsten.js Example</title>
</head>
<body>
<div id="appwrapper">{{> app_view }}</div>
<script src="js/data.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>
