<style>
  {{{styles}}}
</style>

<div data-region="app-region" class="app js-app">
  <div view="app-layout" class="app-layout">
    <div class="app-layout-body">
      <nav class="app-header navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav js-tabs-bar">
          {{#tabs.tabs}}
          <li data-route="{{activeTabName}}" class="js-tab {{#isActive}}active{{/isActive}}">
            <a href="#">{{name}}</a>
          </li>
          {{/tabs.tabs}}
        </ul>
      </nav>
      <ul>
        <li class="js-tab-content">
          {{#tabs.selected}}
            {{#showViewTab}}
              {{> _view_info_pane }}
            {{/showViewTab}}
            {{#showModelTab}}
              {{> _model_info_pane }}
            {{/showModelTab}}
          {{/tabs.selected}}
        </li>
      </ul>
    </div>
  </div>
</div>
{{#loading}}
<div id="loading_overlay">
  <div id="loading_overlay_message">Parent window lost, attempting reconnection. <span id="loading_message_count">{{loading}}</span> attempts remaining</div>
</div>
{{/loading}}
