<div class='clock-container'>
  <div class='clock'> <!-- so the SVG keeps its aspect ratio -->
    <svg viewBox='0 0 100 100'>

      <!-- first create a group and move it to 50,50 so
           all co-ords are relative to the center -->
      <g transform='translate(50,50)'>
        <circle class='clock-face' r='48'/>

        <!-- markers every minute (major markers every 5 minutes) -->
        {{#minor}}
          <line class='minor' y1='42' y2='45' transform='rotate( {{ rotation }} )'/>
        {{/minor}}

        {{#major}}
          <line class='major' y1='35' y2='45' transform='rotate( {{ rotation }} )'/>
        {{/major}}

        <!-- hour hand -->
        <line class='hour' y1='2' y2='-20' transform='rotate( {{ hourRotation }} )'/>

        <!-- minute hand -->
        <line class='minute' y1='4' y2='-30' transform='rotate( {{ minuteRotation }} )'/>

        <!-- second hand -->
        <g transform='rotate( {{ secondRotation }} )'>
          <line class='second' y1='10' y2='-38'/>
          <line class='second-counterweight' y1='10' y2='2'/>
        </g>

      </g>

    </svg>
  </div>
</div>

<p>
  Today is {{ formattedDay }}.
  The time is <strong>{{ formattedTime }}</strong>
</p>