<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tungsten.js + Backbone • ES6 TodoMVC</title>
  <link rel="stylesheet" charset="UTF-8" href="node_modules/todomvc-app-css/index.css">
</head>
<body>
<div id="appwrapper">{{> todo_app_view }}</div>
<script src="js/data.js"></script>
<script src="js/app.min.js"></script>
</body>
</html>
