<td class="dbname">
  {{name}}
</td>

<td class="query-count">
  <span class="{{ countClassName }}">
    {{ queries.length }}
  </span>
</td>

{{#topFiveQueries}}
  <td class="Query {{ className }}">
    {{ elapsed }}
    <div class="popover left">
      <div class="popover-content">{{ query }}</div>
      <div class="arrow"></div>
    </div>
  </td>
{{/topFiveQueries}}
